blockquote {
  background-color: var(--secondary-transparent);
  box-sizing: border-box;
  display: block;
  margin: 1rem 0 1rem 3rem;
  max-width: 80ch;
  max-width: calc(80ch - 3rem);
  overflow: hidden;
  padding: 1rem;
  page-break-inside: avoid;
  position: relative;

  &::before {
    content: open-quote;
    color: hsla(var(--secondaryH), var(--secondaryS), var(--secondaryL), 0.15);
    font-size: 5rem;
    font-family: "Times New Roman", "Times", serif;
    left: 0.25rem;
    line-height: 1;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &::after {
    content: no-close-quote;
  }

  & > :first-child {
    margin-top: 0;
    text-indent: 1rem;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
