body {
  font-size: 1rem;
  margin: auto auto;
  padding: 1rem;
}

@media all and (min-width: 1024px) {
  body {
    max-width: 920px;
  }
}

@media all and (min-width: 1200px) {
  body {
    max-width: 1080px;
  }
}
