code {
  background: var(--secondary-lighter);
  color: var(--secondary);
  display: inline-block;
  font-family: monospace, monospace;
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  padding: 0 0.25rem;
}
