details {
  border: 1px solid var(--secondary-light);
  border-radius: var(--border-radius);
  display: block;
  padding: 0 1rem;

  & summary {
    margin: 0 -1rem;
    padding: 1rem;
  }

  &[open] summary {
    border-bottom: 1px solid var(--secondary-light);
  }
}
