details {
  border: 1px solid var(--secondary-light);
  display: block;
  padding: 0 1rem;

  & summary {
    margin: 0 -1rem;
    padding: 1rem;
  }

  &[open] summary {
    border-bottom: 1px solid var(--secondary-light);
  }

  & + & {
    border-top: 0;
    border-radius: 0;
  }

  &:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
