kbd {
  background-color: var(--secondary-lighter);
  border: 1px solid var(--secondary-light);
  border-radius: var(--border-radius);
  color: var(--secondary);
  font-family: monospace, monospace;
  font-size: 0.9rem;
  padding: 0.125rem 0.25rem;
}
