h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: var(--font-weight-normal);
  margin: var(--heading-margin);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.66rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

h6 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}
