html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--secondary-bg);
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-size-root);
  font-weight: var(--font-weight-thin);
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}
