html {
  background-color: var(--secondary-bg);
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: var(--font-size-root);
  font-weight: var(--font-weight-thin);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1rem;
  margin: 1rem;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
