:root {
  /* Colors */
  --primary: #369;
  --primary-darker: #369;
  --primary-dark: #258;
  --primary-darker: #036;
  --primary-light: #9cf;
  --primary-lighter: #def;
  --primary-bg: #fff;
  --secondary: #222;
  --secondary-bg: #fff;
  --secondary-transparent: rgba(32, 32, 32, 0.05);
  --secondary-dark: #111;
  --secondary-darker: #000;
  --secondary-light: #aaa;
  --secondary-lighter: #eee;

  /* Font */
  --font-family: Helvetica, Arial, sans-serif;
  --font-size-root: 16px;
  --font-weight-bold: 800;
  --font-weight-normal: 400;
  --font-weight-thin: 200;
}
